PORT = 3000

MONGO_URI = YOUR_MONGODB_URI

# You can keep the JWT_SECRET as it is
JWT_SECRET = mysecretkey

NODE_ENV = development

MAILTRAP_TOKEN = YOUR_MAILTRAP_TOKEN

# You only need to change CLIENT_URI if you hosting frontend on a different port
CLIENT_URL = http://localhost:5173

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_PROJECT=YOUR_LANGSMITH_PROJECT_NAME

CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET_KEY
